<footer>
    <div class="list-flex">
        <div class="list-logo">
            <img class="icon" src="../../assets/logo.svg" alt="logo">
            <div class="logo">
                <a class="logo-link" href="#"><i class="fa-brands fa-facebook"></i></a>
                <a class="logo-link" href="#"><i class="fa-brands fa-youtube"></i></a>
                <a class="logo-link" href="#"><i class="fa-brands fa-twitter"></i></a>
                <a class="logo-link" href="#"><i class="fa-brands fa-paypal"></i></a>
                <a class="logo-link" href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <div class="nav">
            <ul>
                <li class="item"><a href="#">About Us</a></li>
                <li class="item"><a href="#">Contact</a></li>
                <li class="item"><a href="#">Blog</a></li>
                <li class="item"><a href="#">Careers</a></li>
                <li class="item"><a href="#">Support</a></li>
                <li class="item"><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="request">
            <button class="btn">Request Invite</button>
            <p class="copyright">&copy; EasyBank. All Rights Reserved</p>
        </div>
    </div>
</footer>