@import "../style/variable.scss";

footer {
  padding: 50px 0;
  height: auto;
  background-color: rgb(45, 49, 78);

  @media (min-width: $breakpoint-tablet) {
    padding: 0;
    // height: 300px;
  }
  .list-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      justify-content: space-around;
    }

    @media (min-width: $breakpoint-desktop) {
      // margin: 0 86px;
    }

    .list-logo {
      display: block;
      @media (min-width: $breakpoint-tablet) {
        display: flex;
        flex-direction: column;
      }
      .logo {
        display: block;
        padding: 20px 0;
        &-link {
          margin: 0 10px;
          color: #ffffff;
          &:hover {
            color: rgb(49, 207, 112);
          }
        }
      }
    }

    .nav {
      ul {
        padding: 0;
        list-style-type: none;
        text-align: center;
        line-height: 20px;

        @media (min-width: $breakpoint-tablet) {
          width: 200px;
          height: 100px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
        }
        .item {
          line-height: 30px;
          a {
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }

    .request {
      text-align: center;
      .btn {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        color: white;
        background: linear-gradient(
          to right,
          rgb(49, 207, 112),
          rgb(43, 185, 205)
        );

        &:hover {
          background: linear-gradient(
            to right,
            rgb(108, 211, 157),
            rgb(108, 211, 226)
          );
        }
      }
      .copyright {
        color: rgb(121, 126, 146);
      }
    }
  }
}
