@import "../style/variable.scss";

.digital-bank {
  background-image: url("../../assets/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $breakpoint-desktop-small) {
    background-image: url("../../assets/bg-intro-desktop.svg");
    background-position: right -400px top -215px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $breakpoint-desktop-small) {
      flex-direction: row;
      align-items: center;
      overflow: hidden;
    }

    // @media (min-width: $breakpoint-desktop) {
    //  flex-direction: row;
    //  align-items: center;
    //  overflow: hidden;
    // }
    .image-mobApp {
      position: relative;
      height: 500px;
      order: 1;
      width: 100%;
      @media (min-width: $breakpoint-tablet) {
        height: 50%;
        width: 70%;
      }
      @media (min-width: $breakpoint-desktop-small) {
        order: 2;
        right: -10%;
        overflow: hidden;
      }
      @media (min-width: $breakpoint-desktop) {
        width: 40%;
        right: -42%;        
      }
    }

    .content {
      text-align: center;
      order: 2;

      @media (min-width: $breakpoint-desktop-small) {
        order: 1;
        text-align: left;
      }
      @media (min-width: $breakpoint-desktop-small) {
        
        margin-left: 70px;
        width: 400px;
      }

      &-title{
        font-size: 34px;
        font-weight: bold;
      }
      &-text{
        font-size: 16px;
      }

      &__btn-request {
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        color: white;
        background: linear-gradient(
          to right,
          rgb(49, 207, 112),
          rgb(43, 185, 205)
        );

        &:hover {
          background: linear-gradient(
            to right,
            rgb(108, 211, 157),
            rgb(108, 211, 226)
          );
        }
      }
    }
  }
}

.banking {
  background-color: rgb(244, 245, 247);
  padding: 20px 0;
  text-align: center;

  @media (min-width: $breakpoint-tablet) {
  }

  &-content {
    @media (min-width: $breakpoint-tablet) {
      padding: 30px 0;
      width: 40%;
      text-align: left;
    }
  }

  .contetn-flex {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }

    .card {
      margin: 10px 0px;

      @media (min-width: $breakpoint-tablet) {
        margin: 0 10px;
        padding: 10px;
        text-align: left;
      }
    }
  }
}

.article {
  display: flex;
  flex-direction: column;
  margin: 40px 0;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
  }

  h2 {
    text-align: center;
  }

  .card__flex {
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
    }

    .card {
      margin: 10px 0;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 100%;
      border-radius: 5px;

      @media (min-width: $breakpoint-tablet) {
        margin: 10px 10px;
      }

      img {
        width: 100%;
        height: 200px;
        border-radius: 5px 5px 0 0;
      }

      .contetn {
        padding: 2px 16px;

        &-writer {
          color: rgb(167, 167, 167);
          font-size: 12px;
        }
        &-title {
          font-size: 18px;
          font-weight: bold;
        }
        &-text {
          font-size: 16px;
        }
      }
    }
  }
}

.container {
  margin: 10px;
  @media (min-width: $breakpoint-tablet) {
    margin: 0 50px;
    text-align: center;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 0 86px;
  }
}
